build/Debug/demo.exe
build/Debug/demo.pdb
build/Debug/imgui.ini
build/demo.dir/Debug/ConnectFour.obj
build/demo.dir/Debug/demo.ilk
build/demo.dir/Debug/demo.tlog/CL.read.1.tlog
build/demo.dir/Debug/demo.tlog/CL.write.1.tlog
build/demo.dir/Debug/demo.tlog/link.read.1.tlog
build/demo.dir/Debug/demo.tlog/link.write.1.tlog
build/demo.dir/Debug/vc142.pdb
build/Testing/20251029-0215/Test.xml
build/Testing/Temporary/LastTest_20251029-0215.log
